# MySQL
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=irepair_db

# API
JWT_SECRET=
JWT_EXPIRES_IN=1h

# URLs usadas pelos serviços para se enxergarem via navegador (localhost)
API_URL=http://localhost:3333
CLIENT_URL=http://localhost:8080
